.gcloudignore
.git
.gitignore

node_modules
dist

.env
.env.*

**/*.test.ts
**/*.test.js

vitest.config.ts
eslint.config.mjs
knip.json
.prettierrc.json
.prettierignore

.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfvars.json
function-source.zip
